*{
    font-family: 'Roboto', sans-serif;
}
header{
    position: relative;
    height: 50px;
} 
nav{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #212121;
    z-index: 2;
}
.menu{    
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
}
.menu .menu_link{
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
}
.menu .menu_item{
    border-right: 2px dotted black;
    padding-right: 26px;

}
.subheader{    
    position: absolute;
    width: 100%;
    top: 50px;  
    height: 84px;
    background-color: rgb(0, 0, 0, .6);    
}
.subheader .subheader_logo{
    display: block;
    max-width: 100%;
    margin-top: 16px;
    }
.logo_text{
    display: inline-block;
    vertical-align: top;
    margin-left: 7px;
    text-transform: uppercase;
    text-align: left;
    color: #ffffff;
    font-size: 21px;
    }
.subheader .subheader_official{
    margin-top: 6px;
    opacity: 0.5;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
}
.subheader_call{
    margin-top: 19px;
    text-align: right;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
}
.subheader_phone{
    display: block;
    margin-top: 8px;
    text-align: right;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    line-height: 12px;
}
.subheader .subheader_btn{
    margin-top: 19px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}
.promo{
    min-height: 800px;  
    background: url(../img/main_bg_image.jpeg) center center/cover no-repeat; 
    padding: 150px 0 135px 0;   
}
.promo .promo_header{
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 60px;
    margin: 0;
    text-align: center;
}
.promo .promo_subheader{
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 36px;
    margin: 0;
    margin-top: 22px;
    text-align: center;
}
.promo .promo_descr{
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-top: 23px;
}
.promo .promo_btn{
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}
.why{
    height: 767px;
}
.why_btn{
    width: 113px;
    height: 25px;
    background-color:#000000;
    margin: 76px auto 20px auto;    
    color: #ffffff;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 5px;
   }
.why_topic{
    color:#222222;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;   
    margin-bottom: 20px; 
}
.why_column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
}
.why_row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: 142px;
    }
.why_round{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 114px;
    height: 114px;
    background-color:#1EACC7;
    border-radius: 100%;
    padding: 17px;
    
}
.why_descr{
    max-width: 341px;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}
.why_mini{
    color:#1EACC7;
}
.why_round img{
    display: inline-block;
    align-items: center;
}
